@font-face {
  font-family: "Segoe UI";
  src: url("../assets/font/SegoeUI.woff2") format("woff2"),
       url("../assets/font/SegoeUI.woff") format("woff"),
       url("../assets/font/SegoeUI.eot") format("embedded-opentype"),
       url("../assets/font/segoeui.ttf") format("truetype"),
       local("Segoe UI");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

/*navigasi*/

nav{
    background: #FAFAFA;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    user-select: none;
  }

nav:after{
    content: '';
    display: table;
  }

nav ul{
    float: right;
    margin-right: 150px;
    list-style: none;
    position: relative;
  }

nav ul li{
    display: inline-block;
    
    margin: 0 5px;
  }

nav {
    
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
  }

nav .logo{
    float: left;
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    font-weight: 800;
    line-height: 70px;
    padding-left: 60px;
    letter-spacing: 0.3px;
    font-family: "TPF+Yolk", sans-serif;
  }

nav .login-logo a {
  color: black;
  display: inline-block;
  top: 0;
  line-height: 70px;
  font-size: 25px;
  right: 24px;
  position: absolute;
}

nav .login-logo, nav .searchbar {
    margin-right: 80px;
}

nav .login-logo a:hover, nav .searchbar a:hover {
    color: #656565;
    transition: color 0.4s;
}

nav .login-logo .fas, nav .logo a, nav .searchbar { 
    color: rgba(0, 0, 0, 0.5);
}

nav .searchbar a {
  top: 0px;
  right: 100px;
  top: 0;
  line-height: 70px;
  font-size: 23px;
  position: absolute;
  display: inline-block;
  color: black;
}

nav ul li{
    float: left;
    
    margin: 0 5px;
  }
  
  nav ul li li:nth-of-type(even) {
    background-color: #f1f1f1;
}

  nav ul li li {
    background-color: #FAFAFA;
  }

nav ul li a{
    color: rgba(0, 0, 0, 0.5);
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    font-weight: 600;
    letter-spacing: 0.1px;
  }

nav ul li a:hover{
    color: #5e5e5e;
    border-radius: 5px;
    transition: color 0.4s;
  }

nav ul ul li a:hover{
    box-shadow: none;
  }

nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid #2BA2F5;
    opacity: 0;
    visibility: hidden;
    transition: top .4s;
    z-index: 2;
  }

nav ul ul ul{
    border-top: none;
  }

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
  }

nav ul ul li a{
    line-height: 50px;
  }

nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
  }

.submenu,.navbar,#btn, #btn-1, #btn-2, #btn-3 {
    display: none;
  }

.fa-right{
    font-size: 15px;
    margin-left: 40px;
  }
  
  .fa-caret-down{
    font-size: 15px;
    right: 35px;
    color: rgba(0, 0, 0, 0.5);
  }
/*navigasi*/

/*modal*/
#buat_modal {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .5);
	top: 0;
	left: 0;
	cursor: pointer;
	transition: all 0.3s ease 0s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#buat_modal:target {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	z-index: 12;
}

#buat_modal:not(:target) {
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s ease, visibility 1s ease;
	z-index: 10;
}

.isi_modal {
	padding: 70px 98px;
	width: 40%;
	background-color: white;
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 99;
}

.header_modal {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.875rem;
	text-align: center;
}

.modal_redirect {
  padding: 50px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal_portfolio, .modal_blogger {
  padding: 11px 21px;
  background-color: #1e9e71;
  border-radius: 6px;
  color: #ffffff;
  font-weight: 500;
  transition: 0.3s ease-out;
}

.modal_portfolio:hover, .modal_blogger:hover {
  background-color: #116346;
  color: #dfdfdf;
  transform: translateY(-2px);
}

.tutup_modal {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.25rem;
	color: var(--dark2);
	position: fixed;
	top: 24px;
	right: 24px;
	transition: opacity 0.3 ease-in;
}

/*header*/
.sec1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    background-position: center;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(174,205,231,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(174,205,231,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(174,205,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#aecde7",GradientType=1);
}

.sec1 h4 {
    font-family: "Segoe UI", monospace;
    color: black;
    font-weight: 500;
    position: absolute;
    margin-top: 20vh;
    text-align: center;
    padding: 5px 7px;
    letter-spacing: .2em;
    animation: 1.3s ease-in 0s 1 slideInFromBot;
}

.sec1 img {
  user-select: none;
  margin-bottom: 20vh;
  width: auto;
}

.sec1 a {
    background-color: #19A974;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fefbef;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    line-height: 1;
    margin-bottom: -55vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    font-size: 20px;
    animation: 2s ease-in 0s 1 explore;
    cursor: pointer;
    box-shadow: 0 7px #818181;
    transition: background-color 0.3s ease-in-out;
}

.sec1 a {
  color: #fefbef;
}

.sec1 a:hover {
  background-color: #0d9160;
}

.sec1 a:active {
    transform: translateY(4px);
}

@keyframes slideInFromBot {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes explore {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*table*/
.table-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 20px;
    margin-top: 5vh;
    padding: 60px 0 20px 0;
}

.p-ket1 {
    font-family: Poppins;
    font-weight: 600;
    text-align: center;
    padding-bottom: 40px;
    font-size: 30px;
}

.main-difference td {
    width: 100px;
    text-align: center;
    height: 13vh;
}

.main-difference td:nth-of-type(even) {
    width: 84vh;
    text-align: center;
}

table {
  left: 50%;
}

/*olshop*/
.olshop {
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 20px;
}

.recommendation h1 {
  left: 0;
  right: 0;
  padding: 0px 0 30px 0;
  font-family: Poppins;
  text-align: center;
  display: block;
}

.list-apps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  height: 550px;
  width: 45%;
  border-radius: 10px;
  box-shadow: 2px 2px 15px #747077;
  overflow: hidden;
  margin: 40px auto 5px auto;
  transition: 0.6s ease-in-out;
  margin: 20px;
}

.card:hover {
  transform: translateY(4px);
  box-shadow: 3px 3px 16px #6e6e6e;
}

.card-image {
  height: 300px;
  position: relative;
}

.card-image img {
  width: auto;
  height: 90%;
  object-fit: cover;
  box-sizing: border-box;
  justify-content: space-around;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #cfcfcf;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.card-image:hover .overlay {
  height: 100%;
}

.overlay img {
  width: 100%;
  height: 100%;
}

.overlay .text-overlay h4 {
  z-index: 6;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 40%;
  font-size: 20px;
  background-color: #bbb8b8;
  mix-blend-mode: overlay;
}

.overlay .text-overlay a {
  top: 75%;
  z-index: 6;
  color: black;
  margin: auto;
  right: 0;
  left: 0;
  position: absolute;
  align-items: center;
  text-align: center;
  outline: none;
  border-radius: 20px;
  background-color: rgb(128, 216, 39);
  padding: 10px 16px;
  color: white;
  width: 50%;
  font-weight: 600;
  transition: 0.4s ease-in;
}

.overlay .text-overlay a:hover {
  background-color: rgb(114, 201, 26);
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 2px 0 0px 0;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  bottom: 2px;
  margin: 0 0 10px 0;
  height: 250px;
}

.card-text h2 {
  font-family: Product Sans;
  font-weight: 800;
  font-size: 26px;
  padding: 10px 0 0px 0;
  top: 6px;
}

.card-text p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px 10px 0px 10px;
  font-weight: 500;
}

.card-text a {
  border-radius: 20px;
  padding: 14px 21px;
  background-color: #04AA6D;
  margin: 0px 0px 16px 0;
  color: white;
  transition: 0.3s ease-in;
  box-shadow: 1px 1px 10px #8f8d8d;
  bottom: 5px;
  font-weight: 500;
}

.card-text a:hover {
  background-color: #059862;
}

.card-text a:active {
  transform: translateY(3px);
}

.recommendation {
  padding: 30px 0 30px 0;
}

/*footer*/
.foot {
    background-color: #343236;
    font-family: Lato;
    color: white;
}

/*footer icon container*/
.foot .contact-icon li svg {
    background-color: transparent;
    color: white;
    font-size: 30px;
    border-radius: 30px 30px;
    border-style: groove;
    padding: 5px 20px;
    border-color: transparent;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.foot .contact-icon li svg:hover {
    background-color: white;
    color: #343236;
}

.foot .contact-icon li {
    display: inline-flex;
    padding: 10px;
}

.foot .contact-icon {
    justify-content: space-between;
    padding: 6px;
    text-align: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  font-family: montserrat;
  letter-spacing: 6px;
  font-size: 10px;
  padding: 7px 0;
}

.foot .connect {
  font-size: 20px;
  color: #e0dce4;
  text-align: center;
  padding: 40px 0 15px 0;
  font-family: logofont;
}

/*footer functional list container*/
.footer {
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
  list-style: none;
  box-sizing: border-box;
}

.footer-container {
	max-width: 1170px;
	margin: auto;
  padding: 20px 0 0 0;
}

.footer-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-row {
  width: 20%;
  padding: 20px 10px;
}

.footer-row ul {
  list-style: none;
}

.footer-row h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-row h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #1eb0e9;
	height: 2px;
	box-sizing: border-box;
	width: 80px;
}

.footer-row ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-row ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.2s ease-in;
}

.footer-row ul li a:hover{
	color: #f0ecec;
	font-size: 16.5px;
}

/*form*/
.mail-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mail-form textarea {
    resize: vertical;
}

.form-group {
  width: 100%;
  margin-top: 0px;
  font-size: 12px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mail-form button {
  justify-content: center;
}

.mail-form button[type="submit"] {
  width: 70%;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 12px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: rgb(27, 166, 247);
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.3s ease background-color;
  justify-content: center;
}

.mail-form button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}
.mail-form #status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
.mail-form #status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
.mail-form #status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
